:root{
    --primary: #3A7D44;
    --bg: #9DC08B;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", serif;
    background-color: var(--bg);
    color: #F8F5E9;
    height: 5000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(97, 120, 33, 0.606);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    color: #F8F5E9;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
}

.navbar .navbar-logo span{
    color: #037c0d;
}


.navbar .navbar-nav a{
    color: #F8F5E9;
    display: inline-block;
    margin: 0 1.2rem;
    font-size: 1rem;
           
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
} 

.navbar .navbar-extra a{
    color: #F8F5E9;
    margin: 0 1.2rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}


/* home section */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/gedung-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}



.home::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%; height: 20%;
    bottom: 0;
    background: linear-gradient(0deg, 
    #9DC08B 8%, 
    rgba(255, 255, 255, 0) 25%);
}
.home .content {
    max-width: 60rem;
    padding: 1rem 7%;
    
}
.home .content h1{
    font-size: 4em;
    color: #F8F5E9;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.58);
}

.home .content h1 span{
    color: var(--primary);
}

.home .content p{
    /* font-weight: 300; */
    color: #F8F5E9;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.58);
    margin-top: 1rem;
}

/* about section */
.about, .activity, .contact {
    padding: 8rem 7% 1.4rem;
    /* width: 70%; */
    /* left: 50%; */
    
}

.about h2, .activity h2, .contact h2 {
    text-align: center;
    font-size: 2.8rem;
    color: var(--primary);
    margin-bottom: 5rem;

}

.about h2 span, .activity h2 span, .contact h2 span {
    color: #DF6D14;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 10rem;
}

.about .row .about-img img{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    line-height: 1.6;
}

.about .row .content .cta {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #F8F5E9;
    background-color: var(--primary);
    border-radius: 0.5;
    box-shadow: 1px 1px 3px #000;
}

/* activity section */
.activity .row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 3rem; */
    justify-content: center;
    
}

.activity .row .menu-card{
    text-align: center;
    padding: 1rem;
    max-width: 20rem;
    max-height: 100%;
    margin: 1rem;
    box-shadow: 1px 1px 3px #000;
    border-radius: 5%;
    background-color: var(--primary);

}

.activity .row .menu-card .h3{
    margin: 1rem auto 0.5rem;
}

.activity .row .menu-card img{
    border-radius: 58%;
}
.activity .row .menu-card .cta{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #F8F5E9;
    text-align: left;
}















/* media queris */
/* laptop */
@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
}

/* laptop kecil */
@media (max-width: 992px) {
    html {
        font-size: 70%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

/* laptop */
@media (max-width: 480px) {
    html {
        font-size: 45%;
    }
}







