:root{
    --primary: #206d07;
    --bg: #cdf1c0;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", serif;
    background-color: var(--bg);
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(9, 80, 13, 0.606);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
}

.navbar .navbar-logo span{
    color: #037c0d;
}


.navbar .navbar-nav a{
    color: #ffffff;
    display: inline-block;
    margin: 0 1.2rem;
    font-size: 1rem;
           
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
} 

.navbar .navbar-extra a{
    color: #ffffff;
    margin: 0 1.2rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}


/* home section */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/gedung-bg.png);
}

